<nav>
    <div class="site-title">
        <a href="/"><h1>Blog Seddik</h1></a>
        <p> a new blog app</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">Blogs Create</a></li>
    
    </ul>
    </nav>